<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>phaser test</title>
    <style>
      canvas {
        width: 80%;
        margin: 0 auto;
        display: block;
      }
    </style>
</head>
<body>
  <script type="text/javascript" src="/assets/javascript/lib/phaser.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/lib/uuid.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/player/Player.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/player/PlayerContainer.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/player/Health.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/player/Stamina.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/TextBox.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Button.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Map.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Door.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/PopUp.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Chest.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Monster.js"></script>
  <script type="text/javascript" src="/assets/javascript/classes/Sign.js"></script>
  <script type="text/javascript" src="/assets/javascript/game_manager/GameManager.js"></script>
  <script type="text/javascript" src="/assets/javascript/game_manager/PlayerModel.js"></script>
  <script type="text/javascript" src="/assets/javascript/game_manager/util.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/BootScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/TitleScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/GameScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/InventoryScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/UiScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/CutScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/scenes/BedScene.js"></script>
  <script type="text/javascript" src="/assets/javascript/game.js"></script>
</body>
</html>
